@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.btn {
  @apply  rounded-lg px-6 py-2 text-black  h-12 text-sm hover:bg-zinc-300 transition ease-in-out bg-white 
}
h1 {
  @apply font-bold text-6xl
}
